@charset "UTF-8";

@font-face {
  font-family: "MuseoSansCyrl-300";
  font-display: swap;
  src: url("../fonts/MuseoSansCyrl-300.woff") format("woff"), url("../fonts/MuseoSansCyrl-300.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "MuseoSansCyrl-500";
  font-display: swap;
  src: url("../fonts/MuseoSansCyrl-500.woff") format("woff"), url("../fonts/MuseoSansCyrl-500.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "MuseoSansCyrl-700";
  font-display: swap;
  src: url("../fonts/MuseoSansCyrl-700.woff") format("woff"), url("../fonts/MuseoSansCyrl-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

body {
  overflow-x: hidden;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
  text-align: center;
}

p {
  text-align: center;
}

/*--------------------*/

.container {
  max-width: 1190px;
  margin: 0 auto;
  padding: 0 10px;
}

.header__top {
  border-bottom: 1px solid #d9d9d9;
  padding: 15px 0;
  width: 100%;
}

.header__top > .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  margin-right: 15px;
}

.header__search {
  position: relative;
  max-width: 557px;
  width: 100%;
}

.header__input {
  background: #F3F3F3;
  padding: 15px 20px;
  font-size: 16px;
  width: 100%;
  font-family: MuseoSansCyrl-500;
}

.header__button {
  position: absolute;
  right: 20px;
  top: 11px;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav__item {
  font-family: MuseoSansCyrl-500;
  font-size: 18px;
  font-weight: 400;
  padding: 20px 25px;
  cursor: pointer;
  text-align: center;
}

.nav__item:hover {
  background-color: #E69A37;
  color: #FFFFFF;
}

.nav__active {
  background-color: #323232;
  color: #FFFFFF;
}

.burger {
  height: 30px;
  width: 40px;
  display: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 30px;
  width: 40px;
  margin-left: 5px;
}

.burger > div {
  height: 4px;
  width: 100%;
  background-color: #000000;
}

.mobile {
  display: none;
  z-index: 1;
}

.mobile__active {
  display: block !important;
}

.mainpage {
  position: relative;
}

.mainpage__slider {
  padding: 130px 0;
  background-size: cover;
  background-position: center;
}

.mainpage__title h3 {
  display: block;
  padding: 10px 20px;
  background-color: #E69A37;
  color: #FFFFFF;
  font-family: MuseoSansCyrl-700;
  font-size: 13px;
  max-width: 228px;
  letter-spacing: 3px;
  margin-bottom: 20px;
}

.mainpage__title h1 {
  font-family: MuseoSansCyrl-700;
  font-size: 60px;
  line-height: 68px;
  text-align: left;
  color: #FFFFFF;
  font-weight: 700;
  margin-bottom: 20px;
}

.mainpage__title p {
  font-family: MuseoSansCyrl-300;
  font-size: 22px;
  line-height: 28px;
  text-align: left;
  color: #FFFFFF;
  font-weight: 400;
  max-width: 650px;
}

.mainpage__pagination {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mainpage__pagination div {
  width: 12px;
  height: 12px;
  border: 1px solid #FFFFFF;
  margin: 0 7.5px;
  cursor: pointer;
}

.mainpage__pagination div:hover {
  background-color: #FFFFFF;
}

.slide-1 {
  background-image: url(../img/main.jpg);
}

.about {
  border-bottom: 1px solid #d9d9d9;
}

.about > .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about__item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 35px 5px;
  cursor: pointer;
}

.about__item p {
  text-align: left;
  font-family: MuseoSansCyrl-300;
  font-size: 14px;
  line-height: 20px;
  text-align: left;
  color: #323232;
  font-weight: 300;
  margin-left: 15px;
}

.about__item:hover {
  background-color: #F3F3F3;
}

.about__item:hover p {
  text-decoration: underline;
}

.null {
  height: 67px;
}

@media (max-width: 991px) {
  .container {
    width: 768px;
  }

  .nav__item {
    font-size: 14px;
    padding: 20px 15px;
  }

  .header__input {
    padding: 10px 10px;
  }

  .header__button {
    top: 8px;
    right: 10px;
  }

  .header__button img {
    height: 20px;
  }

  .header__logo img {
    height: 60px;
  }

  .header__search {
    max-width: 50%;
  }

  .header__top {
    padding: 10px 0;
  }

  .about__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 20%;
    max-width: 140px;
  }

  .about__item p {
    text-align: center;
    margin: 0;
  }

  .about__item img {
    margin-bottom: 5px;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: 576px;
    width: 100%;
  }

  .mainpage__title h1 {
    font-size: 50px;
    line-height: 50px;
  }

  .mainpage__title p {
    font-size: 16px;
    line-height: 20px;
  }

  .mainpage__slider {
    padding: 100px 0;
  }

  .nav__item {
    padding: 10px 5px;
  }

  .header__logo img {
    height: 50px;
  }

  .about__item {
    padding: 15px 5px;
  }
}

@media (max-width: 600px) {
  .about .container {
    max-width: 600px;
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .about__item {
    min-width: 110px;
  }
}

@media (max-width: 576px) {
  .header {
    position: relative;
  }

  .header > .container {
    background-color: #FFFFFF;
    position: absolute;
    top: 60px;
    display: none;
  }

  .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .header__logo img {
    height: 40px;
  }

  .mainpage__title h1 {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 10px;
  }

  .mainpage__title p {
    font-size: 14px;
    line-height: 18px;
  }

  .mainpage__title h3 {
    padding: 5px 10px;
    max-width: 190px;
    margin-bottom: 10px;
  }

  .mainpage__slider {
    padding: 80px 0;
  }

  .header__input {
    padding: 5px 5px;
  }

  .header__button {
    top: 4px;
    right: 6px;
  }

  .header__search {
    max-width: 35%;
  }
}

.webp .slide-1{ background-image: url(../img/main.webp); }